body{
    font-family: ;
}
header{
    background-color: #9565cf;
    background-color: {
        color: -internal-root-color;
    }
    background-image: linear-gradient(45deg,#efefef 25%,rgba(239,239,239,0) 25%,rgba(239,239,239,0) 75%,#efefef 75%,#efefef),linear-gradient(45deg,#efefef 25%,rgba(239,239,239,0) 25%,rgba(239,239,239,0) 75%,#efefef 75%,#efefef);
    background-image: linear-gradient(45deg,#efefef 25%,rgba(239,239,239,0) 25%,rgba(239,239,239,0) 75%,#efefef 75%,#efefef),linear-gradient(45deg,#efefef 25%,rgba(239,239,239,0) 25%,rgba(239,239,239,0) 75%,#efefef 75%,#efefef);

}
.navbar-brand,
.text-primary {
    color: #0a58ca ;
}
.nav-link {
    font-weight: 500;
    
}
.btn-primay {
    background-color: #0a58ca;
    border: none;
    
}
.btn-primay:hover {
    background-color: #94baf2;
    border: none;
}
.nav-link:hover {
    color: #0a58ca;
}
.blue-bg {
    background-color: #0a58ca;
    color: white;
}
#headset {
height: 400px;
width: 550px;
}
.icons {
    height: 32px;
    width: 32px;
    margin-bottom: 16px;
    color: blue;
    background-color: #f2f2f2;
    padding: 6px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border: none;
background-color: #0a58ca;
color: white;

}
.nav-tabs {
    border: none;
}
.card-body {
   
    background-color: lightsteelblue;
}
